* {
  margin: 0px;
  font-family: "Playfair Display", serif;
  font-family: "Poppins", sans-serif;
  font-family: "Shippori Mincho", serif;
}

.header {
  margin: 10px;
  padding-left: 8px;
  margin-top: 25%;
  border-left: 7px solid;
  border-image: linear-gradient(tomato, orange);
  border-image-slice: 1;
}

h2 {
  font-size: 50px;
}

.banner-section {
  display: flex;
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
  margin-bottom: 100px;
}

.sec-item {
  width: 50%;
  padding-left: 6%;
}

.sec-item p {
  color: rgb(133, 119, 119);
  margin-bottom: 20px;
  padding-right: 40px;
  text-align: justify;
}

.sec-item img {
  width: 90%;
}

.text-color {
  color: orange;
}

.link-button {
  text-decoration: none;
  color: white;
  padding: 10px 30px;
  background-image: linear-gradient(
    90deg,
    rgb(77, 43, 19) 0%,
    rgba(252, 70, 107, 1) 100%
  );
  border-radius: 10px;
}

.mission {
  text-align: center;
  font-size: 50px;
  color: rgb(34, 29, 65);
  margin-bottom: 5%;
}

.mission-part {
  display: flex;
  margin-bottom: 10%;
  max-width: 100%;
}
.slide1 {
  width: 40%;
  margin-left: 5%;
  height: 380px;
  padding: 0px 15px;
  border-radius: 10px 0px 0px 10px;
  text-align: justify;
  background-color: rgb(235, 242, 245);
}
.slide1 h3 {
  margin-top: 15px;
  font-weight: bold;
  font-size: 25px;
}
.slide2 h3 {
  margin-top: 15px;
  font-weight: bold;
  font-size: 25px;
}
.slide3 h3 {
  margin-top: 15px;
  font-weight: bold;
  font-size: 25px;
}
.slide1 img {
  max-width: 200px;
  max-height: 200px;
}

.slide2 {
  width: 40%;
  margin-left: 5%;
  height: 380px;
  padding: 0px 15px;
  border-radius: 10px 0px 0px 10px;
  text-align: justify;
  background-color: rgb(235, 242, 245);
}

.slide2 img {
  max-width: 200px;
  max-height: 200px;
}

.slide3 {
  width: 40%;
  margin-left: 5%;
  height: 380px;
  padding: 0px 15px;
  border-radius: 10px 0px 0px 10px;
  text-align: justify;
  background-color: rgb(222, 248, 239);
}

.slide3 img {
  max-width: 200px;
  max-height: 200px;
}

.part4 {
  display: flex;
}

.developer {
  display: flex;
  width: 100%;
  margin-top: 0%;
  /* background-image: url(images/shapes/shape-1.png);
  background-repeat: no-repeat; */
  /* background-position: left;
  background-size: 12%; */
}
.developer h1 {
  font-size: 30px;
  font-weight: bold;
}

.developer p {
  margin-bottom: 5%;
  text-align: justify;
}

.developer img {
  width: 80%;
  height: 70%;
  padding-left: 10%;
  margin-top: 5%;
}

.dev {
  width: 100%;
  padding-top: 5%;
}

.global {
  display: flex;
  width: 100%;
  margin-top: 0%;
  padding-left: 5%;

  background-size: 10%;
}

.global img {
  padding-left: 5%;
  width: 80%;
  height: 60%;
  margin-top: 5%;
  padding-right: 10px;
}
.glo {
  width: 100%;
  padding-top: 8%;
}

.glo h2 {
  font-size: 30px;
  font-weight: bold;
}
.glo p {
  text-align: justify;
}

.Us {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  color: rgba(233, 180, 81, 0.623);
}

.my {
  display: flex;
  width: 100%;
  margin-top: 0%;
  padding-left: 5%;
}
.my h1 {
  font-size: 30px;
  font-weight: bold;
}

.my img {
  max-width: 90%;
  max-height: 100%;
  padding-right: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.profile {
  width: 100%;
  padding-top: 5%;
}

.footer {
  text-align: center;
  color: #fff;
  background-color: rgb(22, 16, 19);
  height: 150px;
}
#foot {
  font-size: 30px;
  font-weight: bold;
  padding-top: 2%;
}

.f-color {
  color: rgb(236, 43, 43);
}
